.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 6px;
    background: #333333CC;
    border: solid 1px #5F5F5F;
    color: #ACACAC;
    font-family: sans-serif;
    text-anchor: middle;
    border-radius: 7px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #5F5F5F;
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
    pointer-events: none;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
    pointer-events: none;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
    pointer-events: none;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
    pointer-events: none;
}

.vis-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto;
}

.menu {
    background: #5F5F5F;
    width: 100%;
    height: 90vh;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    display: grid;
    grid-template-rows: 40% 60%;
}

.submenu {
    border: 2px solid #222222;
    width: 100%;
}

.resultsMenu {
    grid-row-start: 1;
    grid-row-end: 2;
}

.selectorMenu {
    grid-row-start: 2;
    grid-row-end: 3;
}

.vis {
    background: #333333;
    border: 2px solid #222222;
    width: 100%;
    height: 90vh;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu select {
    font-size: 12pt;
    width: 90%;
    margin: 0;
    padding: 0;
}

.explorerDiv label {
    font-size: 12pt;
    color: #ACACAC;
    padding: 0;
    text-align: left;
    display: inline-block;
    border: 0;
}

.visSVG {
    width: 94%;
    height: 88%;
}