/* Layout */
.scrollytelling-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: auto;
}

.scrollytelling-vis {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.scrollytelling-text-right {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #111111, #111111, #111111);
  z-index: 1;
}

/* Make your child elements in scrollytelling-vis sticky. */
.sticky-0vh {
  position: sticky;
  top: 0;
  z-index: 0;
}

.sticky-10vh {
  position: sticky;
  top: 10vh;
  z-index: 0;
}

.sticky-20vh {
  position: sticky;
  top: 20vh;
  z-index: 0;
}